@model projectAsp.Controllers.AccountController.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}
<h2>Forgot Password</h2>

@if (TempData["Message"] != null) { <div>@TempData["Message"]</div> }
@if (TempData["ResetToken"] != null)
{
<div>
    <h4>Demo reset token (would be emailed in production)</h4>
    <pre>@TempData["ResetToken"]</pre>
</div>
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div>@Html.ValidationSummary(true)</div>
<div>
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
</div>
<button type="submit">Request reset token</button>
}