@model  projectAsp.Controllers.AccountController.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
<h2>Reset Password</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div>@Html.ValidationSummary(true)</div>

<div>
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
</div>

<div>
    @Html.LabelFor(m => m.Token)
    @Html.TextBoxFor(m => m.Token)
    @Html.ValidationMessageFor(m => m.Token)
</div>

<div>
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword)
    @Html.ValidationMessageFor(m => m.NewPassword)
</div>

<div>
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
</div>

<button type="submit">Reset password</button>
}